@model Film
@{
    ViewData["Title"] = "Detalji o filmu";
}



<div style="background-image: url('@Model.PutanjaBackPostera')" class="container prva-slika">



    <div class="zanr">
    </div>
    <div class="PosterFilma">
        <img src="@Model.PutanjaPostera" alt="" class="movie-img" style="width:200px;">




    </div>
    <div class="col-md-6 left-box">



    </div>



</div>

<div class="container movie-details">

   

    <div class="dugmad" style="display:inline-block">
        <div class="col-md-6 left-box">
            <a href="@Model.YoutubeTrailer"><i class="fa fa-play" aria-hidden="true"></i>   Gledaj trailer </a>
            <a  asp-controller="Projekcija" asp-action="Details" asp-route-id="@Model.FilmId" class=" kupovina" style="text-align:center; width:150px">Rezerviši kartu </a>
            @if (ViewBag.Username == "admin") { 
        <a href='@Url.Action("Delete", "Film", new { id=Model.FilmId})' class=" kupovina"> Obriši film</a>
            }
        </div>
        <br>
        <hr>
        <div class="duzinaTrajanja"><i class="far fa-clock" aria-hidden="true"></i> @Model.Trajanje.ToString()min</div>
        <div class="GodinaIzlaska"><i class="fa fa-calendar" aria-hidden="true"> </i> @Model.Godina.ToString() </div>
    </div>

    <div class="opisfilma">
        <h2>@Model.Naziv</h2>
        <p> @Model.OpisFilma </p>
    </div>
</div>
