
@model List<Film>
@{ 
    ViewData["Title"] = "Filmovi";
}
<h3>Filmovi</h3>

<table class="table">
       <thead>
           <tr>
               <th>Id</th>
               <th>Naziv</th>
               <th>Godina</th>
               <th>Trajanje</th>
               <th>Reziser</th>
               <th>Zanr</th>
               <th>Detalji</th>
           </tr>
       </thead>
    <tbody>
        @foreach (Film f in Model) { 
        <tr>
            <th>@f.FilmId</th>
            <th>@f.Naziv</th>
            <th>@f.Godina</th>
            <th>@f.Trajanje</th>
            <th>@f.Zanr</th>
            <th>@f.Reziser</th>
            <th>@Html.ActionLink("Detalji","Details","Film",
                  new { id = f.FilmId})</th>
        </tr>
        }
    </tbody>

</table>

