@model IEnumerable<Bioskop.Domen.Projekcija>

<p>
    <h2>Projekcije</h2>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VremeProjekcije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VremeKrajaProjekcije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Film.PutanjaPostera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.NazivSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VremeProjekcije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VremeKrajaProjekcije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                <img src="@item.Film.PutanjaPostera" style="height:80px; width:60px" alt="" />
            </td>
            <td>
                <a asp-controller="Karta" asp-action="Create"  asp-route-id="@item.ProjekcijaId">Rezervisi</a> |
                @if (ViewBag.IsLoggedIn != null && ViewBag.IsLoggedIn && ViewBag.Username == "admin")
                {
                    
                    <a asp-action="Delete" asp-route-id="@item.ProjekcijaId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
